html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html,body {
  background-color:#000000;
}
#planet1, #planet2, #planet2, #planet3, #planet4, #planet5, #planet6, #planet7, #big-planet, #axis {
	position: absolute;
	top: 0px; left: 0px;
}
#planet1{
	background-color:#40E0D0;
	width: 50px;
	height:50px;
	top:0px; left:0px;
	z-index: 9;
	/*border-radius:51%; */
}
#planet2{
	background-color:#FF0000;
	width: 65px;
	height:65px;
	top:0px; left:0px;
	z-index: 8;
	/* border-radius:51%; */
}
#planet3{
	background-color:#6F3662;
	width: 85px;
	height:85px;
	top:0px; left:0px;
	z-index: 7;
	/* border-radius:51%; */
}
#planet4{
	background-color:#FFFF00;
	width: 120px;
	height:120px;
	top:0px; left:0px;
	z-index: 6;
	/* border-radius:51%; */
}
#planet5{
	background-color:#BF2E25;
	width: 135px;
	height:135px;
	top:0px; left:0px;
	z-index: 5;
	/* border-radius:51%; */
}
#planet6{
	background-color:#0099CC;
	width: 150px;
	height:150px;
	top:0px; left:0px;
	z-index: 4;
	/* border-radius:51%; */
}
#planet7{
	background-color:#3C9F26;
	width: 190px;
	height:190px;
	top:0px; left:0px;
	z-index: 3;
	/* border-radius:51%; */
}
#big-planet{
	background-color:#EF7192;
	width: 400px;
	height:400px;
	top:0px; left:0px;
	z-index: 2;
	/* border-radius:51%; */
}
#axis{
	border: solid 2px #EF7192;
	width: 650px;
	height:650px;
	top:0px; left:0px;
	z-index: 1;
}