body {
  background-color: #ebe6bc;
  margin-right: 10px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
div.container {
	background-color: #000000;
	color: #ffffff;
}
div.pop-text1 {
	color: red;
}
img.Bio_Photo {
	height: 400px;
}
div.halves {
	float: left;
	width: 49%;
	margin-right:2%;
}
div.halves-last {
	float: left;
	width: 49%;
	margin-right:0;
}