a:focus {
  outline: thin dotted; }
      
a:active, a:hover {
  outline: 0; }
  font-weight:bold;

blockquote {
  margin: 1em 40px; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }
      
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }


btn-circle {
  display: block;
  height: 33px;
  opacity: 1;
  position: relative;
  overflow: visible !important; }

.btn-circle i {
    opacity: 1;
    display: block;
    z-index: 2;
    position: relative; }

.btn-circle:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 29px;
    height: 29px;
    z-index: 1;
    border: 2px solid;
    border-radius: 50%;
    -moz-transition: all 0.125s linear;
    -webkit-transition: all 0.125s linear;
    transition: all 0.125s linear; }

html.no-touch .btn-circle:hover:before {
    position: absolute;
    top: -6px;
    left: -6px;
    width: 41px;
    height: 41px; }

.btnContinue {
  position: fixed;
  bottom: 30px;
  left: 50%;
  margin-left: -15px;
  z-index: 3;
  display: block;
  opacity: 1; }

.btnContinue.btn-circle:before {
    width: 30px;
    height: 30px; }

html.no-touch .btnContinue:hover:before {
    position: absolute;
    top: -6px;
    left: -6px;
    width: 42px;
    height: 42px; }

.btnContinue.animate-opacity {
    -webkit-transition: opcity 0.5s linear; }

.btnClose {
  position: fixed;
  top: 30px;
  left: 50%;
  margin-left: -15px;
  width: 33px;
  height: 33px;
  z-index: 100;
  opacity: 0;
  -moz-transition: opacity 0.25s linear;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear; }
  
body.past-hero .btnClose:before {
    background-color: #1b1b1c; }

body.admin-bar .btnClose {
    top: 62px; }

body.page-loaded .btnClose {
    opacity: 1; }