body {
	background-color:#FF22CC;
}
img.section1 {
	float: left;
	width: 200px;
	border: 3px solid #00FF00;
}
p.section2 {
	float: left;
	width: 200px;
	border: 3px solid #00FF00;
}
footer.footer {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #00FF00;
}
.clearing {
	clear: both;
}